.navbar-toggler {
    font-size: 1.25rem;
    line-height: 1;
    /*background-color: transparent;*/
    background-color:#000;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.bg-light {
    min-width:37px !important;
    position: fixed !important;
    right: 0 !important;
    width:100% !important;
}
