#templateCategorySelection {
    z-index: 1000;
    display: inline;
    width: 310px;
    margin-right: 10px;
}

#qualifier_instructions {
    font-size: small;
}

#radio_line {
    display: flex;
    width: 100%;
}

#checkIsCredit {
    display: inline;
}

#qualifierPhraseDiv {
    margin-top: 10px;
}

.react-confirm-alert-overlay {
    z-index: 3000!important;
    background: rgba(255, 255, 255, 0)!important;
}

