/* UTILITIES - DON'T Touch */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* NAVBAR STYLING STARTS - DON'T Touch */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: teal;
    color: #fff;
}

/*****************-------------------------------- My Stuff -------------------------------***********************/
.form-check {
    color: black;
}

.filter {
    width: 100%;
    display: flex;
    border: 1px solid green;
}
.filterHeader {
    border: 1px solid blue;
    padding-left: 20px;
    width: 1100px;
    margin-right: auto;
}

#filterHeaderRight {
    border: 1px solid red;
    padding: 20px;
    margin-left: auto;
}

#savedFilterSelection {
    display: block;
    margin-top: 10px;
    width: 200px;
    height: 120px;
}

#saveFilterButton {
    margin-right: 20px;
}

#clearFilterButton {
    margin-left: 30px;
}

#filterPanel {
    margin-bottom: 20px;
}

/* ----------------------------------------Search Bar---------------------------------------- */
#search-input {
    width: 400px;
}

.searchArea {
    padding: 10px;
}

.searchArea Button {
    padding: 5px;
    margin-left: 10px;
}

.searchArea label {
    margin-right: 10px;
}

/* ----------------------------------------Tag Selection---------------------------------------- */
.headerTagSelector {
    width: 400px;
}

.matchAll {
    margin-top: 10px;
    margin-left: 20px;
}

.tagsAndSuch {
    display: flex;
}

.tagsAndSuch label {
    margin-right: 10px;
}

.tagLabel {
    margin-top: 5px;
}

.headerTagSelector {
}

.headerTagSelector label {
    margin-top: 5px;
}

/* --------------------------------------Categories--------------------------------------  */
.categoryFilters {
    display: flex;
}

.categoryFilters label {
    margin-top: 5px;
    margin-right: 10px;
}

#categorySelection {
    width: 400px;
    margin-right: 30px;
}

#institutionSelection {
    width: 400px;
}

/* ----------------------------------------Dates----------------------------------------  */
.dateFilters {
    margin-top: 20px;
}

.dateLabel {
    color: black;
    margin-right: 10px;
}

#startDate {
    width: 300px;
    border: 1px solid black;
}

.dateLabelEnd {
    margin-left: 30px;
    margin-right: 10px;
}

#endDate {
    width: 300px;
    border: 1px solid black;
}

.react-datepicker__input-container input {
    border: 1px;
    color: black;
}

/* -----------------------------Transaction Detail Overrides----------------------------  */

#TransactionDetailHeader {
    display: flex;
}

#SetCategoryDiv {
    display: flex;
    margin-left: 30px;
}

#testCategoryLabel {
    margin: 10px;
}

#printContentButton {
    margin-left: 20px;
}