/* UTILITIES - DON'T Touch */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* NAVBAR STYLING STARTS - DON'T Touch */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: teal;
    color: #fff;
}

/*****************-------------------------------- My Stuff -------------------------------***********************/
.form-check {
    color: black;
}

#search-input {
    width: 200px;
}

#tagSelection {
    width: 200px;

}

#categorySelection {
    width: 400px;
}

.dateLabel {
    color: black;
}

.react-datepicker__input-container input {
    border: 1px;
    color: black;
}

.filterHeader {
    margin-left: 20px;
    margin-top: 20px;
}

.displayType {
    border: 1px solid red;
    padding: 10px;
}

.displayType Button {
    padding: 5px;
}
